@import "bootstrap";

h1 { text-align: center }
#loading {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  position: fixed;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;

  img { width: 200px }
}
#report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 900px;
}

#report dl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;

  dd:first-child {
    width: calc(100%/2)!important;
    flex: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    .details { 
      align-items: flex-start;
      justify-content: center;
    }
    .icon { width: 300px; }

  }
  dd {
    display: flex;
    flex-direction: column;
    flex: 10%;
    width: calc(100%/6);
    font-size: 0.9rem;
    line-height: 1rem;
    text-align: center;
    .details { display: flex; flex-direction: column; }
    span { height: 50px; }
  }
}

@include media-breakpoint-down(sm) {
  #report {
    align-items: center;
    dl {
      flex-direction: column;
      align-items: center;
      dd {
        padding-top: 6rem;
        flex-direction: column-reverse;
        width: 50%;
        span { height: 20px }
      }
      dd:first-child {
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        .details {
          align-items: center;
        }
      }
    }
  }
}
