@import "bootstrap";

h1 { text-align: center }
#report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 900px;
}

#report dl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;

  dd:first-child {
    width: calc(100%/2)!important;
    flex: 100%;
    flex-direction: row-reverse;
    justify-content: flex-end;
    .details { align-items: flex-start }
    .icon { width: 300px; }

  }
  dd {
    display: flex;
    flex-direction: column;
    flex: 10%;
    width: calc(100%/6);
    font-size: 0.9rem;
    line-height: 1rem;
    text-align: center;
    .details { display: flex; flex-direction: column; }
    span { height: 50px; }
  }
}
